.headerContainer {
    background-color: #e3000b;
    color: white;
    border-radius: 20px 20px 0px 0px;
    display: grid;
    grid-template-columns: 90% 10%;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    font-family: "Quicksand", sans-serif;
}
.headerContainer h6 {
    font-size: 14px;
}   
.legoLogo {
    width: 40%;

}
.headerButton {
    background-color: transparent;
    border-style: none;
    cursor: pointer;
    max-width: 5px;
   
}
.headerButtonIcon {
    width: 30px;
}
.menuLista a {
    list-style-type: none;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 13px;
    
}

.menuList {
    list-style-type: none;
    text-align: center;
    text-decoration: none;
    color: white;
    line-height: 2.0;
    font-size: 12px;
}

@media screen and (min-width: 1024px) {
    * {
      width: 1024px; 
      border-radius: 0px 0px 0px 0px;
    }
    .headerContainer {
        
        border-radius: 0px;
        display: grid;
        grid-template-columns: 80% 10%;
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
        position: relative;
        padding-top: 10px;
        padding-bottom: 10px;
    
    }
    .headerContainer h6 {
        font-size: 14px;
    }
    .headerButton {
        background-color: transparent;
        cursor: pointer;
        max-width: 5px;
    }
    .headerButtonIcon {
        width: 30px;
    }
    .menuLista a {
        list-style-type: none;
        text-align: center;
        text-decoration: none;
        font-size: 15px;
        
    }
    
    .menuList {
        list-style-type: none;
        text-align: center;
        text-decoration: none;
        line-height: 2.0;
        grid-template-columns: 80% 10%;
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
    }
    .legoLogo {
        width: 20%;
    }
}