.mainPage {
    padding-top: 30px;
}

.titleMain {
    font-size: 25px;
}

.mainPagePic {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 300px;
    border-radius: 20px;
}

.textMain {
    text-align: justify;
    margin: 20px;
  }

  @media screen and (min-width: 1024px) {
    .mainPage {
        background-color: black;
        width: 50%;
        padding-top: 0px;
        margin: 0px 0px 0px 0px;
        border-style: none;
    }
    .mainPagePic {
        background-repeat: no-repeat;
        width: 80%;
        border-radius: 20px;
        background-color: black; 
    }
   
    .titleMain {
        font-size: 18px;
        background-color: black;
        width: 80%;
        padding: 20px;
        
    }
    .textMain {
        text-align: justify;
        background-color: black;
        width: 92%;
      }
}