.footerMain {
    background: linear-gradient(to bottom,rgb(9, 111, 228), rgb(38, 81, 209),rgb(47, 40, 143), rgb(57, 14, 86));
    border-radius: 0px 0px 20px 20px;
    display: grid; 
    grid-template-columns: 50% 50%;
    text-align: center;
    color: white;
    font-family: "Quicksand", sans-serif;
}
.socialMedia {
    text-align: left;
}
.socialMediaList {
    list-style: none;
    text-align: left;
    color: rgb(247, 121, 186);
}
.contact {
    text-align: right;
}
.contact p {
    font-weight: bold;
}
.email {
    color: rgb(247, 121, 186);
}

.lastButton {
    background-color: rgb(231, 227, 15); 
    color: black;
    left: 20px;
    top: 10px;
    width: 80%;
    border-style: none;
    border-radius: 20px;
    padding: 3px;
    margin-top: 20px;
    cursor: pointer;

}

@media screen and (min-width: 1024px) {
  
    .footerMain {
        border-radius: 0px;
        flex-direction: column;
        display: flex;
        text-align: center;
        color: white;
        font-family: "Quicksand", sans-serif;
        
    }
    .media {
        text-align: center;
        margin-top: 15px;
        padding: 0px;
    }
    .socialMedia {
        text-align: center;
        font-weight: bold;
    }
    .socialMediaList {
        list-style: none;
        text-align: center;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 5px;
        margin-bottom: 20px;
        padding: 0px;
        align-items: center;
        color: rgb(247, 121, 186);
    }
    .email {
        color: rgb(247, 121, 186);
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    .lastButton {
        background-color: rgb(231, 227, 15); 
        color: black;
        width: 50%;
        border-style: none;
        border-radius: 20px;
        padding: 3px;
        margin-top: 10px;
        cursor: pointer;
        margin-bottom: 5px;
    }
    
}